# If you don't want to use localhost:443 without SSL config your server here
# ActiveImap.configure do |config|
#   config.server = {
#     :host => 'YOUR TEXT SERVER',
#     :port => 993,
#     :ssl => true
#   }
# end


class ActiveImap::TestCredentials
  def self.imap_user 
    'YOUR TEST ACCOUNT USER'
  end
  
  def self.imap_password 
    'YOUR TEST ACCOUNT PASSWORD'
  end
end